# Local Development - Docker Environment Variables
ENV=development
NODE_ENV=development
HOST=0.0.0.0
PORT=1340
PUBLIC_URL=http://localhost:1340

# Secrets (Default local dev values)
APP_KEYS=9/1YjJgS5PHj6P2lbC0HJQ==,iHrtIADhQmov24kA22W7QA==,RsAAi0obiekvVZr4d+8jcw==,P2nQXo/1otgr/PL5zrAKbA==
API_TOKEN_SALT=kyqXQxehAM8nvaC1K1AI0g==
ADMIN_JWT_SECRET=NR1cv94ApF/gs4s9p73Mjw==
TRANSFER_TOKEN_SALT=lJHscSleFPoJ08Z/erlKlg==
JWT_SECRET=Frm5zWNoFyQXUtsxjZi4Yw==

# Database (Mapped to hub-db service in docker-compose)
DATABASE_CLIENT=mysql
DATABASE_HOST=hub-db
DATABASE_PORT=3306
DATABASE_NAME=hub-community-db
DATABASE_USERNAME=root
DATABASE_PASSWORD=f1r3wall@123
DATABASE_SSL=false
